html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

.m-b
{
  margin-bottom: 22px;
}

.m-r
{
  margin-right: 10px;
}

.m-l-22
{
  margin-left: 22px !important;
  @include media-breakpoint-only(xs) {
    margin-left: 0px !important;
  }
}

.m-t-22
{
  margin-top: 22px !important;
  @include media-breakpoint-only(xs) {
    margin-top: 0px !important;
  }
}

.disabled
{
  background-color: white !important;
  font-weight: bold;
  cursor: default !important;
}

.success-message
{
  margin: 0px;
  position: fixed;
  bottom: 22px;
  right: 22px;
  z-index: 10;
  -webkit-backface-visibility: hidden;
}

.error-message
{
  @extend .success-message;
}

.completed
{
  text-decoration: line-through;
}

.hover
{
  color: $text-color;
  text-decoration: none;

  @include media-breakpoint-only(xs) {
    color: $text-color;
    text-decoration: none !important;
  }
}

.hover .panel:hover
{
  text-decoration: none;
  color: #555;
  background-color: #f5f5f5;

  @include media-breakpoint-only(xs) {
    text-decoration: none !important;
    color: #555;
    background-color: #f5f5f5;
  }
}
